:root {
  --primary-color: #e4eef0;
  --secondary-color: #302f2d;
  --tertiary-color: #755d0d;
  --background-color-primary: #302f2d;
  --background-color-secondary: #e4eef0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color-primary);
  color: var(--primary-color);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
section {
  padding: 15px;
  margin-bottom: 15px;
}
h2 {
  font-size: 40px;
  font-weight: lighter;
}
/************************************************************** HEADER Styles **************/
header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
  /* background-image: url(../images/IMG_Rolls.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; */
  background-color: var(--background-color-primary);
}
header h1 {
  font-size: 40px;
  font-weight: lighter;
  /* color: var(--secondary-color);
  background-color: var(--background-color-secondary); */
  /* margin: 10px 0px 10px 25px; */
  padding-left: 500;
  text-align: right;
  align-self: flex-start;
  padding-right: 15px;
  width: 30%;
}
header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;

}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.25vw;
  text-decoration: none;
}
header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/************************************************************** HERO Styles **************/
.hero {
  background-color: var(--background-color-secondary);
  /* background-image: url(../images/IMG_Rolls.png); */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 60px;
}
.hero p {
  color: var(--secondary-color);
  font-size: 20px;
  text-align: right;
  width: 40%;
  background: none;
}
/************************************************************** ARTICLE Styles **************/
.articles article {
  margin-bottom: 20px;
}
/************************************************************** ABOUT ME/BIO Styles ***********/
.my-bio {
  display: flex;
  justify-content: space-around;
}
.my-bio h2 {
  flex: 1;
  width: 30%;
}
.my-bio p {
  flex: 4;
}

/************************************************************** WORK Styles **************/
.my-work {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.my-work h2 {
  flex: 1;
}
.grid-container {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);

}
.grid-item {
  margin: 10px;
  border-width: 10px;

}
.first-app {
  grid-column: 1 / 3;
  grid-row: 1/3;
}

/************************************************************** CONTACT INFO Styles **************/
.my-contact-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.my-contact-info h2 {
  flex: 1;
}
.my-contact-info div {
  flex: 4;
}
.my-contact-info div ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
}
/************************************************************** FOOTER Styles **************/
footer {
  background-color: var(--primary-color);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
footer h2 {
  color: var(--secondary-color);
  background: none;
  font-size: 30px;
  margin: 0;
}
footer p {
  line-height: 1.5;
  text-align: right;
  color: var(--secondary-color);
  background: none;
}
/************************************************************** MEDIA QUERIES **************/
